<!DOCTYPE html>
<html>
  <head>
      <style>
          body  {
              background-image: url("https://www.colourbox.com/preview/1710138-blue-blur-abstract-refractive-fluid-particle-motion.jpg");
              background-color: rgba(248, 247, 216, 0.7);
          }
      </style>
    <title>{{title}}</title>

      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  </head>

  <body >
    {{{body}}}
     <script src="/javascripts/bootstrap.js"></script>
  </body>
</html>
